/* Aplicando Colores al Sitio*/
/* Aplicar Mapa a mi sitio y luego se utiliza la funcion each para crear clases y asignarles los valores del mapa*/
.fondo {
  background-color: #f6ca2bca; }

.footer {
  background-color: #33d37356; }

.card {
  background-color: rgba(243, 236, 236, 0.991); }

/* Definicion de Variables */
/* Aplicando Mixins al Proyecto*/
.icono {
  width: 50px;
  height: 50px; }

/*Se extiende propiedades de la clase .icono a la clase .whatsapp y se agregan nuevas propiedades*/
.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px; }

/* Aplicando map-get a mi Proyecto*/
h1 {
  color: #3673D9;
  text-align: center;
  font-family: Verdana;
  padding: 1rem;
  text-align: center; }

/*Se agrega anidacion y Nesting en Logo de Index*/
.logo1 {
  width: 140px; }
  .logo1:hover {
    transform: scale(1.1);
    transition: 1s; }

/*Se crea una anidacion de propiedades para las clases que estan dentro de footer*/
.rrss {
  display: flex;
  justify-content: center;
  gap: 50px; }
  .rrss .ul {
    text-decoration: none; }
    .rrss .ul .li {
      text-decoration: none; }
      .rrss .ul .li .a {
        width: 50px;
        height: 50px;
        padding: 30px; }

/*Aplicando SASS a pagina COMUNIDAD*/
/*Se importa el estilo de otra paginas css*/
/*Se crean variables de colores*/
/*Se aplica esstilos contactenados*/
.img-comunidad {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px; }
  .img-comunidad .imagenes-rrss {
    width: 350px;
    height: 350px;
    border-radius: 5px; }

/*Se utilizan variables de colores*/
.footer {
  background-color: rgba(128, 128, 128, 0.328); }

/*Aplicando Estilo a h1*/
h1 {
  text-align: center;
  font-family: Verdana; }

.card-body {
  text-align: center;
  font-family: Verdana;
  justify-content: center;
  align-items: center; }

/*Se aplica formato a clase .pie*/
.pie {
  text-align: center;
  font-family: Verdana; }

/*Aplicando firmato a los mapas del sitio contacto*/
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map-container .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
