/*Se crean variables de colores*/

$gris: rgba(128, 128, 128, 0.328);


/*Se aplica esstilos contactenados*/
.img-comunidad {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
	.imagenes-rrss {
		width: 350px;
		height: 350px;
		border-radius: 5px;
	}
}

/*Se utilizan variables de colores*/
.footer {
    background-color: $gris;
}