// Aplicar Mapa a mi sitio y luego se utiliza la funcion each para crear clases y asignarles los valores del mapa

$color-map: (
	fondo: #f6ca2bca,
	footer: #33d37356,
);

@each $key, $value in $color-map {
	.#{$key}{ background-color: #{$value}; }
}

/* Definicion de Variables */
$ancho: 50px;
$alto: 50px;

// Aplicando Mixins al Proyecto

@mixin iconos {
    width:$ancho;
	height:$alto;
}

.icono {
	@include iconos;
}

/*Se extiende propiedades de la clase .icono a la clase .whatsapp y se agregan nuevas propiedades*/
.whatsapp {
	@include iconos;
	position: fixed;
    bottom: 20px;
    right: 50px;
}

// Aplicando map-get a mi Proyecto

$estilos-h1: (
	color: #3673D9,
	text-align: center,
	font-family: Verdana
);

h1 {
	color: map-get($estilos-h1, color);
	text-align: map-get($estilos-h1, text-align);
	font-family: map-get($estilos-h1, font-family);
	padding: 1rem;
	text-align: center;
}

/*Se agrega anidacion y Nesting en Logo de Index*/
.logo1 {
    width: 140px;
		&:hover {
		transform: scale(1.1);
		transition: 1s;
		}
}

/*Se crea una anidacion de propiedades para las clases que estan dentro de footer*/
.rrss {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 50px;
	.ul {
		text-decoration: none;
		.li {
			text-decoration: none;
			list-style: none;
			.a {
				width: $ancho;
				height: $alto;
				padding: 30px;
			}
		}
	}	
}

/*Aplicando SASS a pagina COMUNIDAD*/
/*Se importa el estilo de otra paginas css*/

@import "comunidad";

h1 {
	text-align: center;
	font-family: Verdana;
}

/*Se uaplica formato a clase .pie*/
.pie {
	text-align: center;
}