/* Definicion de Variables */
$fondo: #4286f44a;
$footer: #33d37356;
$ancho: 50px;
$alto: 50px;


/*Se agrega anidacion y Nesting en Logo de Index*/
.logo1 {
    width: 140px;
	
		&:hover {
		transform: scale(1.1);
		transition: 1s;
		}
}
/*En este caso aplico la variable de colores a las clases .fondo y .footer*/
.fondo {
    background-color: $fondo;
}

.footer {
	background-color: $footer;
}

/*Aqui aplico las variables $ancho y $alto en las dimensiones de .icono*/
.icono {
	width:$ancho;
	height:$alto;
}

/*Se extiende propiedades de la clase .icono a la clase .whatsapp y se agregan nuevas propiedades*/
.whatsapp {
	@extend .icono;
	position: fixed;
    bottom: 20px;
    right: 50px;
}
/*Se crea una anidacion de propiedades para las clases que estan dentro de footer*/
.rrss {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 50px;
	.li {
		text-decoration: none;
		list-style: none;
		.a {
			width: $ancho;
			height: $alto;
			padding: 30px;
		}
	}
}

/*Aplicando SASS a pagina COMUNIDAD*/
/*Se importa el estilo de otra paginascss*/

@import "comunidad";


